* {
    /* outline: 2px solid red; */
}

.cta-btn {
    background-color: rgb(21 128 61);
    color: white;
    padding: 0.625rem 1.25rem;
    font-weight: bold;
}

.cta-btn:hover { background-color: rgb(22 101 52); }

.active-nav-link { background-color: rgb(21 128 61); }
